MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=ajkecommerce
MYSQL_USER=root
MYSQL_PASSWORD=12345678
NEXTAUTH_SECRET=abcdefgh123456

DATABASE_URL="mysql://root:12345678@localhost:3306/ajkecommerce"
